parameters:
    level: max
    autoload_files:
        - config/paths.php
    earlyTerminatingMethodCalls:
        Cake\Shell\Shell:
            - abort
    excludes_analyse:
        - src/*/tests/*
        - */tests/*

