parameters:
    level: max
    bootstrapFiles:
        - config/paths.php
    earlyTerminatingMethodCalls:
        Cake\Shell\Shell:
            - abort
    excludes_analyse:
        - src/Console/*
        - src/CS/*
        - tests/*

